body {
    font-family:s Arial, Helvetica, sans-serifs;
}

#first{
    color: rgb(157, 78, 137);
}

.holder{
    font-weight:600;
}

.second{
    color: yellow;
}

.green{
    color: green;
}

.bigger{
    font-size:20px;
}

main .bigger{
    font-family: Jokerman;
}