body{
    background-color: bisque;
}

#top {
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-evenly;
}

nav a{
    color: black;
}

nav a:hover{
    background-color: #edcd8d;
    color:#fff;
}

.current{
    color: #fff;
}

.all{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 100px;
    margin-top: 20px;
    width: 300px;
}

.all img{
    width: 100%;

}

.p1 {
    width: 120%;
}

.p3{
    
    width: 85%;
}

.title{
    text-align: center;
    margin-top: 70px;
}

.info{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 50px;
}

@media only screen and (max-width: 600px){
    nav {
        background-color: #ecc6e5;
        flex-direction: column;
        margin-bottom: 70px;
    }

    nav a{
        border: thin solid #fff;
        padding: 5px;
    }

    .all, .title, .info{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}