body{
    background-color: bisque;
}

.all{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 100px;
    margin-top: 20px;
    width: 300px;
}

.all img{
    width: 100%;

}

.p1 {
    width: 120%;
}

.p3{
    
    width: 85%;
}

#title{
    text-align: center;
}

.info{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 50px;
}